name: Run Tests and Linters
on:
  pull_request:
    branches: [main]

jobs:
  run_tests:
    strategy:
      matrix:
        python_version:
          - "3.10"
          - 3.11
          - 3.12
          - 3.13
          - 3.14
    runs-on:
      - ubuntu-latest
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python_version }}
      - name: Check out repository code
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python_version }}

      - run: uv sync --locked
      - run: uv run pytest
        env:
          AURORA_API_KEY: ${{ secrets.AURORA_API_KEY }}
